{% extends 'base.html.twig' %}

{% block title %}Hello AProposController!{% endblock %}

{% block body %}
    <section>
        <div class="container">
            <div class="row">
                <p>{{ peintre.nom }} {{ peintre.prenom }}</p>
                <p>{{ peintre.apropos }}</p>
            </div>
        </div>
    </section>
{% endblock %}
