<section>
    <div class="container">
        <div class="row justify-content-center">
            {% for blogpost in blogposts %}
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">{{ blogpost.titre }}</h5>
                        {#    u.truncate( nombre de caractère, qu'est-ce qu'il écrit, autorisation de couper un mot?)#}
                        <p class="card-text">{{ blogpost.contenu|u.truncate(200, '...', false) }}</p>
                        <p>Publier le {{ blogpost.createdAt|date('d/m/Y') }}</p>
                        <a href="{{ path('blogposts_details', {'slug': blogpost.slug}) }}" class="btn btn-primary">Voir</a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</section>