{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
<h1 class="text-center">Hello World</h1>
    {% include 'home/peintures.html.twig' %}
    {% include 'home/blogpost.html.twig' %}
{% endblock %}
