<section>
    <div class="container">
        <div class="row justify-content-center">
            {% for peinture in peintures %}
                <div class="card" style="width: 18rem;">
                    <img src="{{ vich_uploader_asset(peinture, 'imageFile') | imagine_filter('miniature')}}" class="card-img-top" alt="{{ peinture.nom }}">
                    <div class="card-body">
                        <h5 class="card-title">{{ peinture.nom }}</h5>
                        {#    u.truncate( nombre de caractère, qu'est-ce qu'il écrit, autorisation de couper un mot?) #}
                        <p class="card-text">{{ peinture.description|u.truncate(200, '...', false) }}</p>
                        <a href="{{ path('realisations_details', {'slug': peinture.slug}) }}" class="btn btn-primary">Voir</a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</section>