<section>
    <div class="container">
        <div class="row text-center">
            {% set date = date('now') %}
            <p>Copyright © {{ date|date('Y') }} ProjetPerso. Tous Droits Réservés.</p>
        </div>
    </div>
</section>