{% extends 'base.html.twig' %}

{% block title %}Hello PortfolioController!{% endblock %}

{% block body %}
    <section>
        <div class="container">
            <div class="row">
            <h2 class="text-center">{{categorie.nom}}</h2>
                {% for peinture in peintures %}
                    {#                    Création d'une variable img sur la page et apposition d'un filtre last pour recuperer la derniere image de la collection peintures de la categorie#}
                    {% set peinture = categorie.peintures|last %}
                    <div class="card" style="width: 50%;">
                        <img src="{{ vich_uploader_asset(peinture, 'imageFile' ) | imagine_filter('miniature')}}" class="card-img-top" alt="{{ peinture.nom }}">
                        <div class="card-body">
                            <h5 class="card-title">{{ peinture.nom }}</h5>
                            {#    u.truncate( nombre de caractère, qu'est-ce qu'il écrit, autorisation de couper un mot?) #}
                            <p class="card-text">{{ peinture.description|u.truncate(200, '...', false) }}</p>
                            <a href="{{ path('realisations_details', {'slug': peinture.slug}) }}" class="btn btn-primary">Voir</a>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>
{% endblock %}
