{% extends 'base.html.twig' %}

{% block title %}Hello PortfolioController!{% endblock %}

{% block body %}
    <section>
        <div class="container">
            <div class="row">
            <h2 class="text-center">Portfolio</h2>
                {% for categorie in categories %}
{#                    Création d'une variable img sur la page et apposition d'un filtre last pour recuperer la derniere image de la collection peintures de la categorie#}
                    {% set peinture = categorie.peintures|last %}
                    <div class="card" style="width: 50%;">
                        <img src="{{ vich_uploader_asset(peinture, 'imageFile' )}}" class="card-img-top" alt="{{ categorie.nom }}">
                        <div class="card-body">
                            <h5 class="card-title">{{ categorie.nom }}</h5>
                            {#    u.truncate( nombre de caractère, qu'est-ce qu'il écrit, autorisation de couper un mot?) #}
                            <p class="card-text">{{ categorie.description|u.truncate(200, '...', false) }}</p>
{#                            passage en parametre de la categorie#}
                            <a href="{{ path('portfolio_categorie', {'slug': categorie.slug}) }}" class="btn btn-primary">Voir</a>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>
{% endblock %}
