{% extends 'base.html.twig' %}

{% block title %}Hello blogpostController!{% endblock %}

{% block body %}
    <section>
        <div class="container">
            <div class="row">
                <h2 class="text-center">Dernières Actualitées</h2>
                {% for blogpost in blogposts %}
                    <div class="card" style="width: 50%;">
                        <div class="card-body">
                            <h5 class="card-title">{{ blogpost.titre }}</h5>
                            {#    u.truncate( nombre de caractère, qu'est-ce qu'il écrit, autorisation de couper un mot?) #}
                            <p class="card-text">{{ blogpost.contenu|u.truncate(200, '...', false) }}</p>
                            <a href="{{ path('blogposts_details', {'slug': blogpost.slug}) }}" class="btn btn-primary">Voir</a>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
        {#        mise en place de la pagination #}
        <div class="d-flex justify-content-center">
            {% do blogposts.setPageRange(2) %}
            {#           knp_pagination_render(quelle données, template à utiliser (si utilisation d'un template) #}
            {{ knp_pagination_render(blogposts, 'base/pagination.html.twig') }}
        </div>
    </section>
{% endblock %}
