<section>
    {% for com in commentaires %}
    <div class="container mb-2">
        <div class="row justify-content-center">
            <div class="col-12 col-md-10 col-lg-9 col-xl-8">
                <div class="card card-row shadow-light-lg">
                    <div class="row gx-0">
                        <div class="card-body">
                            <blockquote>
                                <p>
                                    {{ com.contenu }}
                                </p>
                                <footer class="blockote-footer">
                                    <span class="h6 text-uppercase">Par {{ com.auteur }} le {{ com.createdAt|date('d/m/Y') }}</span>
                                </footer>
                            </blockquote>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</section>