{% extends 'base.html.twig' %}

{% block title %}Hello ContactController!{% endblock %}

{# application du theme formulaire bootstrap integrer dans le fichier config/packages/twig.yaml a mettre sur chacune 
des pages concernée #}
{% form_theme form 'bootstrap_5_layout.html.twig' %}

{% block body %}
<section>
    <div class="container">
        <div class="row">
            <h2 class="text-center">Nous Contacter</h2>
                {{form_start(form)}}
                
                {# permet d'afficher le message flash du formulaire parametrer dans le controller ou service #}
            {% for message in app.flashes('success') %}
            <div class="alert alert-success">
                {{ message }}
            </div>
            {% endfor %}

            <div class="alert alert-danger">
                {{ form_errors(form) }}
            </div>
            
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">{{form_label(form.nom)}}</label>
                    {{ form_widget(form.nom) }}
                </div>
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">{{form_label(form.email)}}</label>
                    {{ form_widget(form.email) }}
                    </div>
                    <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">{{form_label(form.message)}}</label>
                    {{ form_widget(form.message) }}
                    </div>
                    <div class="mb-3">
                    {{ form_widget(form.envoyer) }}
                    </div>
                {{form_end(form)}}
        </div>
    </div>
</section>
{% endblock %}
