{% extends 'base.html.twig' %}

{% block title %}Hello PeintureController!{% endblock %}

{% block body %}
    <section>
        <div class="container">
            <div class="row">
                    <div class="card" style="width: 50%;">
                        <img src="{{ vich_uploader_asset(peinture, 'imageFile')}}" class="card-img-top" alt="{{ peinture.nom }}">
                        <div class="card-body">
                            <h5 class="card-title">{{ peinture.nom }}</h5>
                            {#    u.truncate( nombre de caractère, qu'est-ce qu'il écrit, autorisation de couper un mot?) #}
                            <p class="card-text">{{ peinture.description|u.truncate(200, '...', false) }}</p>
                        </div>
                    </div>
            </div>
        </div>
    </section>

    {% include "commentaire/form.html.twig" %}

    {% include "commentaire/commentaires.html.twig" %}
{% endblock %}
