{% extends 'base.html.twig' %}

{% block title %}Hello PeintureController!{% endblock %}

{% block body %}
    <section>
        <div class="container">
            <div class="row">
            <h2 class="text-center">Dernières Réalisations</h2>
                {% for peinture in peintures %}
                    <div class="card" style="width: 50%;">
                        <img src="{{ vich_uploader_asset(peinture, 'imageFile') | imagine_filter('miniature')}}" class="card-img-top" alt="{{ peinture.nom }}">
                        <div class="card-body">
                            <h5 class="card-title">{{ peinture.nom }}</h5>
                            {#    u.truncate( nombre de caractère, qu'est-ce qu'il écrit, autorisation de couper un mot?) #}
                            <p class="card-text">{{ peinture.description|u.truncate(200, '...', false) }}</p>
                            <a href="{{ path('realisations_details', {'slug': peinture.slug}) }}" class="btn btn-primary">Voir</a>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
{#        mise en place de la pagination #}
        <div class="d-flex justify-content-center">
            {% do peintures.setPageRange(2) %}
{#           knp_pagination_render(quelle données, template à utiliser (si utilisation d'un template) #}
            {{ knp_pagination_render(peintures, 'base/pagination.html.twig') }}
        </div>
    </section>
{% endblock %}
